# Maven
target/

# IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea/

# Eclipse
.classpath
.project
.settings

# Visual Studio
*.user
*.suo

# VS Compiled files
*/bin/
*/obj/
*/Obj/       # git is case sensitive

# VS addin files
*.ncrunch*
*/.resharper/


# ---- Mac OS X
.DS_Store
Icon?
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# ---- Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini
